/game_log.txt
#Java class files
*.class

#Vim swap files
*.swp

#Kate specific tmp files
*.kate-swp

#More tmp file extensions
*~

#OS Specific Files
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db


#Eclipse stuff
.classpath
.project
/bin
